#inp{
   margin: 2em 1em 2em 0em;
   
}
table{
   display: block;
}
th{
   margin: 2em;
}
#firstrow{
   display: inline;

}
label{
   display: inline;
   padding:3em;
   margin-right: 1em;
}
#container{
display: flex;
flex-direction: column;
margin: auto;
justify-content: center;
align-items: center;
}
.inp{
  
   margin-top: 2em;
   padding: 2em;
}
input{
   margin: 2em;
}
